@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400&display=swap');

/* ------------- TOPO --------------- */
* {
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

.topo {
    background-color: #CF2B2B;
    box-shadow: 0 4px 3px #b3b3b3;
    padding: 15px 20px;
    width: 100%;
    height: 11%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}
.titulo > h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
}
.titulo > h3{
    font-family: 'Roboto', cursive;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
}
/*--------------CONTEUDO -----------------*/
.pedidos {
    margin-top: 92px;
    padding-left: 20px;
    width: 100%;
    z-index: 2;
    margin-bottom: 92px;
}
.pedidos > h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 15px;
}
.pratos, .bebidas, .sobremesas {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    z-index: 1;
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

img {
    height: 100%;
    width: 100%;
    min-width: 144px;
    height: 87px;
    border-radius: 4px;
}
.check {
    width: 10.5%;
    height: 0.8%;
    min-height: 15px;
    min-width: 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}
.pratos h1, .bebidas h1, .sobremesas h1 {
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
} 
.pratos h3, .bebidas h3, .sobremesas h3 {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}
.pratos h2, .bebidas h2, .sobremesas h2 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.comida, .bebida, .sobremesa {
    padding: 15px 10px;
    border-radius: 9px;
    margin-right: 15px;
    background-color: #FFFFFF;
    position: relative;
    height: 216px;
    box-sizing: border-box;
}
.rodape {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 9%;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.fecha-pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
    align-items: center;
    background-color: #cbcbcb;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.fecha-pedido p{
    font-family: 'Roboto', regular;
    font-size: 20px;
    color: #FFFFFF;
}
.bordaverdeprato, .bordaverdebebida, .bordaverdesobremesa  {
    border: 5px solid green;
}
.displaymostrarprato, .displaymostrarbebida, .displaymostrarsobremesa  {
    display: block;
}